<div class="container gallery-container">

  <h1><%=@album.title%></h1>

  <div class="tz-gallery">

    <div class="row">
      <% @album.images.each do |image| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a class="lightbox" href="<%=image.link%>">
              <img src="<%=image.link%>" alt="<%=image.img_title %>" style="width=100%">
            </a>
            <div class="caption">
            <p>
            Picture Name : <%=image.img_title%> <br>
            View: <%=image.view%> <br>
          </p>
            </div>
          </div>
        </div>
        <%end%>
  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
  baguetteBox.run('.tz-gallery');
</script>
