
<%= link_to "Create new blog", new_blog_path, class: 'btn btn-primary' %>

<%= @blogs.each do |blog| %>
  <div class="card mb-4">
    <img class="card-img-top" src="../images/rocks.jpg" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title"><%= blog.title %></h2>
      <p class="card-text"><%= truncate(blog.body) %></p>
      <%= link_to blog_path(blog.id), class: "btn btn-primary" do %>
      Read More &rarr;
      <% end %>
    </div>
    <div class="card-footer text-muted">
      <%= blog.created_at %>
    </div>
  </div>
<% end %>
