<div class="card-body">
  <%= form_with scope: :article,url: blog_index_path,  local: true do |form| %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, :class => 'form-control' %>
  </p>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, :class => 'form-control' %>
  </p>

  <p>
    <%= form.submit :class => 'btn btn-primary' %>
  </p>

  <% end %>
</div>
